
html{
    font-size: calc(100/750*100vw)
}
.site{
    width: 100%;
    height: 100%;
    font-size: 17px;
    display: flex;
    flex-direction: column;
}
.m-site-main{
    flex: 1;
    overflow: auto;
}
.button{
    height: 1rem;
    width: 100%;
    border-radius: 0px;
    outline: none;
    color: #fff;
    background-color: #108ee9;
    border: 0;
}
