html{
    font-size: calc(100/750*100vw)
}
.collect{
    width: 100%;
    height: 100%;
    font-size: 17px;
    display: flex;
    flex-direction: column
}
.m-collect-main{
    flex: 1;
    overflow: auto;
    margin-top:.2rem;
}
.m-collect-item{
    position: relative;
    height: auto;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    z-index: 2;
    text-align: center;
    border:0
}
.m-collect-item .item{
    width:94%;
    height: 2.5rem;
    padding: .2rem;
    overflow: hidden;
    background: white;
    display: flex;
}
.m-collect-item .icon{
    width: auto;
    height: 100%;
}
.m-item-con{
    flex: 1 1;
}
.m-item-con span {
    height: 33.333%;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.m-item-con span:nth-child(2){
    color: darkgrey;
}
.m-item-con span:nth-child(3){
    color: red;
}